
#tabel-pengajuan table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

#tabel-pengajuan table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

#tabel-pengajuan table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

#tabel-pengajuan table th,
#tabel-pengajuan table td {
  padding: .625em;
  text-align: center;
}

#tabel-pengajuan table th {
  font-size: .85em;
  letter-spacing: .1em;
  /*text-transform: uppercase;*/
}

@media screen and (max-width: 600px) {
   .container-fluid{
    padding-right: 0;
    padding-left: 0;
   }
  #tabel-pengajuan table {
    border: 0;
  }

  #tabel-pengajuan table caption {
    font-size: 1.3em;
  }
  
  #tabel-pengajuan table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  #tabel-pengajuan table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  #tabel-pengajuan table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    padding: .625em !important;
  }
  
  #tabel-pengajuan table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    /*text-transform: uppercase;*/
  }
  
  #tabel-pengajuan table td:last-child {
    border-bottom: 0;
  }
}